*__pycache__*
debug/
__pycache__
eval
.history/
install/mesh
data/smpl-x_model/
data/smpl-x_model*
useless/
*/source*.sh
thirdparty/HPS_initialization/tmp
thirdparty/scene_initialization/Total3DUnderstanding/out
thirdparty/scene_initialization/Total3DUnderstanding/useless
thirdparty/HPS_initialization/HPS_prepare_input