scikit-image
configargparse
loguru
dataclasses
chumpy
ipdb
matplotlib
numpy
opencv-python
PyYAML==5.1
scikit-image
scipy
smplx
tqdm
joblib
trimesh==3.9.21
h5py==3.1.0
sklearn==0.0
smplx==0.1.26
scipy==1.5.4
scikit-image==0.17.2
scikit-learn==0.24.0
tensorboardX==2.1
pyparsing
python-dateutil
joblib
loguru
easydict
ConfigArgParse==1.2.3
pyrender==0.1.36
seaborn==0.11.1
Send2Trash==1.5.0
psbody-mesh==0.4
h5py
bs4
lxml
numpy==1.19.4
PyOpenGL==3.1.0